@CHARSET "ISO-8859-1";
 .form1 {
 	position:relative;
 	top:20px;
 	width: 650px;
}

 .form1 label{
 	display: block;
 	float:left;
 	padding-left:10px;
 	width: 200px;
 	text-align: left;
}
 
 .form1 input {
    display:block;
    padding: 3px;
    marging:0;
    width:260px; 	
}
 
.form1 button {
	position:relative;
	left:135px;
	padding:4px;
	overflow:hidden;
}

.form1 select{
	display:block;
    padding: 3px;
    marging:0;
    width:260px;
}

#hour, #min{
	display:inline-block;
	width:100px;
	margin-bottom:20px;
	position:relative;
	left:-90px;
}

#nom_rue{
	position:relative;
	left:-85px;
	width: 230px;
	display: inline-block;
}

#num{
	position:relative;
	left:-83px;
	margin-bottom:10px;
	display:inline-block;
	width: 20px;
}

#code_postal{
	position:relative;
	left:21px;
	display:inline-block;
	width: 125px;
}

#ville{
	position:relative;
	left:19px;
	display: inline-block;
	width: 124px;
}
